.vs/4411P1/v14/.suo
4411Project1/.vs/4411Project1/v14/.suo
4411Project1/4411Project1.sdf
4411Project1/4411Project1.sln
4411Project1/4411Project1.vcxproj
4411Project1/4411Project1.vcxproj.filters
4411Project1/4411Project1.opensdf
4411Project1/Debug/4411Project1.exe
4411Project1/Debug/4411Project1.ilk
4411Project1/Debug/4411Project1.log
4411Project1/Debug/4411Project1.pdb
4411Project1/Debug/4411Project1.tlog/4411Project1.lastbuildstate
4411Project1/Debug/4411Project1.tlog/CL.command.1.tlog
4411Project1/Debug/4411Project1.tlog/CL.read.1.tlog
4411Project1/Debug/4411Project1.tlog/CL.write.1.tlog
4411Project1/Debug/4411Project1.tlog/link.command.1.tlog
4411Project1/Debug/4411Project1.tlog/link.read.1.tlog
4411Project1/Debug/4411Project1.tlog/link.write.1.tlog
4411Project1/Debug/barbershop.obj
4411Project1/Debug/buffer.obj
4411Project1/Debug/end.obj
4411Project1/Debug/machineprimitives_x86_64.obj
4411Project1/Debug/minithread.obj
4411Project1/Debug/qtest.obj
4411Project1/Debug/queue.obj
4411Project1/Debug/random.obj
4411Project1/Debug/sieve.obj
4411Project1/Debug/start.obj
4411Project1/Debug/synch.obj
4411Project1/Debug/test1.obj
4411Project1/Debug/test2.obj
4411Project1/Debug/test3.obj
4411Project1/Debug/vc140.idb
4411Project1/Debug/vc140.pdb
4411P2/.vs/4411P2/v14/.suo
4411P2/4411P2.opensdf
4411P2/4411P2.sdf
4411P2/4411P2.sln
4411P2/4411P2.vcxproj
4411P2/4411P2.vcxproj.filters
p2(1).zip
p2.zip
p2submission.7z
Project 4/Project4.opensdf
